/* Variables */

:root {
	--orange-dark: #D04F4F;
	--orange-light:#ED6454;
	--blue: #3282F7;
	--green: #68D9A4;
	--grey-dark:#C7BEBE;
	--grey-light:#E7E7E7;
	--font-Lato: 'Lato', sans-serif;
	--font-DMsans: 'DM Sans', sans-serif;
	--font-Roboto: 'Roboto', sans-serif;

}

/* Réinitialisation CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Général */

input {
	font-family: var(--font-Lato);
}

h1 {
	color: var(--orange-dark);
	font-weight: 700;
	font-size: 36px;
	line-height: 47px;
	letter-spacing: 2px;
	font-family: var(--font-DMsans);
}

h2 {
	font-family: var(--font-Lato);
	font-weight: 600;
	font-size: 18px;
}

h3 {
	font-family: var(--font-Lato);
	font-weight: 700;
	font-size: 18px;
	width: 39%;
	text-align: right;
}

ul {
	list-style: none;
}

header {
	margin-top: 42px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* 
	####################
	# PARTIE RECHERCHE #
	#################### */

.search {
	margin-top: 17px;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Barre de recherche principale */

.search_recipe {
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search_recipe input {
	width: 100%;
	height: 70px;
	border: none;
	border-radius: 5px 0 0 5px;
	background-color: var(--grey-light);
	padding: 24px;
	font-size: 18px;
}

.search_recipe button {
	/* width:10%; */
	height: 70px;
	border: none;
	border-radius: 0 5px 5px 0;
	background-color: var(--grey-light);
	font-size: 32px;
	padding: 17px;
}

/* Filtres actifs (sélectionnés par l'utilisateur) */

.search_filters-active {
	margin-top: 25px;
	width: 100%;
	height: 37px;
}

.filter_button {
	width: 107px;
	height: 37px;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 14px;
	font-weight: 700;
	background-color: var(--blue);
	font-family: var(--font-Lato);
}

/* Recherche par filtres */

.search_filters_list {
	margin-top: 15px;
	height: 70px;
	width: 100%;
	display: flex;
}

.search_filter_component {
	width: 170px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow: visible;
	border-radius: 5px;
	margin-right: 15px;
	font-size: 18px;
	font-weight: 700;
	color: white;
	font-family: var(--font-Lato);
}

#ingredients-component, #ingredients-component .dropdown_list {
	background-color: var(--blue);
}
#appliance-component, #appliance-component .dropdown_list {
	background-color: var(--green);
}
#ustensils-component, #ustensils-component .dropdown_list {
	background-color: var(--orange-light);
}

.search_filter_component i {
	margin-right: 20px;
	margin-top: 25px;
	border: none;
}
.search_filter_component i:hover {
	cursor: pointer;
}

.search_filter_component input {
	margin-left: 20px;
	border: none;
	height: 100%;
	width: 65%;
	background: none;
	color: white;
	font-size: 18px;
	font-weight: 700;
}

.search_filter_component input::placeholder{
	color: white;
}

.search_filter_component .grey-text::placeholder{
	color: rgba(255, 254, 254, 0.667);
	font-weight: 400;
}

.dropdown_list{
	z-index: 1;
	height: 360px;
	width: 1000px;
	padding: 0 20px;
	border-radius: 0 0 5px 5px;
	font-weight: 400;
	font-size: 18px;
}

.dropdown_list ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	overflow: hidden;
	
}
.dropdown_list ul li {
	width: 32%;
	height: 10%;
}

/* 
	####################
	# PARTIE RECETTES  #
	#################### */

.recipes {
	margin-top: 25px;
	margin-bottom: 50px;
	width: 90%;
	/* display: grid;
	grid-template-columns: repeat(auto-fill, 380px);
	grid-gap: 0.1% 6%; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: var(--font-Lato);
}

.recipes article {
	margin-top: 50px;
	padding: 0 20px;
	width:380px;
	height: 364px;
	background-color: var(--grey-light);
	border-radius: 5px;
	overflow: hidden;
	/* align-self: center;
	justify-self: center; */
}

.img-placeholder {
	position: relative;
	left: -20px;
	width: 380px;
	height: 45%;
	background-color: var(--grey-dark);
}
.recipe-title {
	display: flex;
	width: 100%;
	height: 15%;
	align-items: center;
	justify-content: space-between;
}

.recipe-content {
	display: flex;
	justify-content: space-between;
	height: 40%;
}

.recipe-ingredients {
	width: 165px;
	font-size: 12px;
	line-height: 14.4px;
}

.recipe-instructions {
	width: 165px;
	height: 85px;
	font-size: 12px;
	font-family: var(--font-Roboto);
	overflow: hidden;
    white-space:normal;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
}


/* Utiles */

.hidden {
	display: none;
}

.bg-blue {
	background-color: var(--blue);
}
.bg-green {
	background-color: var(--green);
}
.bg-orange {
	background-color: var(--orange-light);
}

.is-active {
	color:#d4a8ef;
	/* display: none; */
}